/*
*
* @author Jonathan Douglas Nunes de Souza
* @email jonathannunes.souza98@gmail.com
*
*/

/* LAYOUT 
_______________________ */

 body {
    background: url(../imagens/capa.png),
    url(../imagens/ruido.png),
    linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
 }

 /* BARRA DE NAVEGAÇÃO
_______________________ */

nav.navbar-transparente {
    background:rgba(0, 0 ,0 , 0.6);
    padding: 15px 0px;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color:white;
}

.divisor {
    width: 1px;
    background:white;
    margin:12px 15px;
}